table, th, td {
    border: 1px solid;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.shopname {
    font-weight: bold;
}

.prices {
    text-align: center;
}

a {
    text-decoration: none;
}

a:visited {
    color: darkslategrey;
}

tr:nth-child(even) {
    background-color: wheat;
}

tr:nth-child(odd) {
    background-color: blanchedalmond;
}

body {
    background-color: lightblue;
}

form {
    display: inline-block;
}

h1 {
    text-align: center;
}

.login {
    position: absolute;
    top: 45%;
    left: 39%;
}

.gamesearch {
    position: absolute;
    top: 39%;
    left: 41.25%;
    background-color: darkslateblue;
    color: lightpink;
    border: 5px solid black;
}

.gamesearch * {
    margin: 4px;
}

.list {
    width: 35vw;
    margin: 0 auto;
}

.list .game {
    border-style: solid;
    border-color: black;
    border-width: 4px;
    background-color: darkslateblue;
    color: antiquewhite;
}

.list .game * {
    margin: 4px;
}

.discountButtons {
    width: 35vw;
    margin: 0 auto;
}